<div class="container-fluid">
    <input [(ngModel)]="ricerca" type="search" class="form-control form-control-dark  " style="width: 70%;margin-left: 15%;margin-top: 2%;margin-bottom: 2%;" placeholder="Search..." id="searchBar" aria-label="Search">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let product of products | filterProducts:ricerca:'name'" class=" px-4" style="width: 25%;">
        
                <div class="card shadow-sm">

                    <div class="img-wrapper">
                        <img [src]="product.image" class="bd-placeholder-img card-img-top img-fluid"/>
                    </div>
                    
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <div class="d-flex justify-content-center">
                                <a [routerLink]="['/prodotti/', product.name]" style="text-decoration: none; color:black;" class="btn btn-outline-warning text-center">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div> 
</div>